<div id="cart">
    <div class="container-fluid">
        <div class="cart-list">
            <h3>Your Cart</h3>
            <div class="cart-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>
                        <div class="quantity">
                            <label for="">Quanity : </label>
                            <input type="number" name="quantity" class="form-control" value="1">
                        </div>
                        <div class="remove-product">
                            <a href="#">Delete Product</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>
                        <div class="quantity">
                            <label for="">Quanity : </label>
                            <input type="number" name="quantity" class="form-control" value="1">
                        </div>
                        <div class="remove-product">
                            <a href="#">Delete Product</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>
                        <div class="quantity">
                            <label for="">Quanity : </label>
                            <input type="number" name="quantity" class="form-control" value="1">
                        </div>
                        <div class="remove-product">
                            <a href="#">Delete Product</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>
                        <div class="quantity">
                            <label for="">Quanity : </label>
                            <input type="number" name="quantity" class="form-control" value="1">
                        </div>
                        <div class="remove-product">
                            <a href="#">Delete Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-price">
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <p>Subtotal
                        <span>(4 Items) :</span>
                        <span>40,000</span>
                    </p>
                    <button class="btn btn-primary">Proceed To Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>