<div id="checkout">
    <div class="checkout-summary">
        <div class="container">
            <h3>Select a Delivery Address</h3>
            <div class="shipping-info">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="name">Full Name:</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="mobilenum">Mobile Number:</label>
                                <input type="text" class="form-control" id="mobilenum">
                            </div>
                            <div class="form-group">
                                <label for="pincode">Pincode:</label>
                                <input type="text" class="form-control" id="pincode">
                            </div>
                            <div class="form-group">
                                <label for="address">Flat / House No. / Floor / Building:</label>
                                <input type="text" class="form-control" id="address">
                            </div>
                            <div class="form-group">
                                <label for="address2">Colony / Street / Locality:</label>
                                <input type="text" class="form-control" id="address2">
                            </div>
                            <div class="form-group">
                                <label for="landmark">Landmark:</label>
                                <input type="text" class="form-control" id="landmark">
                            </div>
                            <div class="form-group">
                                <label for="town-city">Town / City:</label>
                                <input type="text" class="form-control" id="town-city">
                            </div>
                            <div class="form-group">
                                <label for="state">State:</label>
                                <input type="text" class="form-control" id="state">
                            </div>
                            <button class="btn btn-primary pull-right">Deliver to This Address</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>