<div id="myorders">
    <div class="myorders-summary">
        <div class="container-fluid">
            <h3>Your Orders</h3>
            <div class="myorder-info no-margin">
                <div class="row">
                    <div class="col-md-6">
                        <div class="myorder-spec">
                            <div class="order-id">
                                <p>Order Id :
                                    <span>99-222-399393-82883</span>
                                </p>
                            </div>
                            <div class="delivery-info">
                                <ul>
                                    <li>Order Placed On :
                                        <span>02-02-2018</span>
                                    </li>
                                    <li>Delivered On :
                                        <span>04-02-2018</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Apple Mac Book Pro</p>
                            <div class="myorder-desc">
                                <ul>
                                    <li>Memory :
                                        <span>128 Gb</span>
                                    </li>
                                    <li>Screen Size :
                                        <span>12.8 Inch</span>
                                    </li>
                                    <li>Ram :
                                        <span>8 Gb</span>
                                    </li>
                                    <li>Warrent :
                                        <span>1 Year</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="../images/laptop.png" class="img-responsive" alt="">

                    </div>
                    <div class="col-md-3">
                        <div class="invoice clearfix">
                            <a href="#">Invoice</a>
                            <a href="#" class="pull-right">Order Details</a>
                        </div>
                        <button class="btn btn-primary btn-block">Write a Review</button>
                        <button class="btn btn-primary btn-block">Frequently Asked Question</button>
                        <button class="btn btn-primary btn-block">Return Item</button>
                        <button class="btn btn-primary btn-block">Cancel Order</button>
                    </div>
                </div>
            </div>
            <div class="myorder-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="myorder-spec">
                            <div class="order-id">
                                <p>Order Id :
                                    <span>99-222-399393-82883</span>
                                </p>
                            </div>
                            <div class="delivery-info">
                                <ul>
                                    <li>Order Placed On :
                                        <span>02-02-2018</span>
                                    </li>
                                    <li>Delivered On :
                                        <span>04-02-2018</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Apple Mac Book Pro</p>
                            <div class="myorder-desc">
                                <ul>
                                    <li>Memory :
                                        <span>128 Gb</span>
                                    </li>
                                    <li>Screen Size :
                                        <span>12.8 Inch</span>
                                    </li>
                                    <li>Ram :
                                        <span>8 Gb</span>
                                    </li>
                                    <li>Warrent :
                                        <span>1 Year</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="../images/laptop.png" class="img-responsive" alt="">

                    </div>
                    <div class="col-md-3">
                        <div class="invoice clearfix">
                            <a href="#">Invoice</a>
                            <a href="#" class="pull-right">Order Details</a>
                        </div>
                        <button class="btn btn-primary btn-block">Write a Review</button>
                        <button class="btn btn-primary btn-block">Frequently Asked Question</button>
                        <button class="btn btn-primary btn-block">Return Item</button>
                        <button class="btn btn-primary btn-block">Cancel Order</button>
                    </div>
                </div>
            </div>
            <div class="myorder-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="myorder-spec">
                            <div class="order-id">
                                <p>Order Id :
                                    <span>99-222-399393-82883</span>
                                </p>
                            </div>
                            <div class="delivery-info">
                                <ul>
                                    <li>Order Placed On :
                                        <span>02-02-2018</span>
                                    </li>
                                    <li>Delivered On :
                                        <span>04-02-2018</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Apple Mac Book Pro</p>
                            <div class="myorder-desc">
                                <ul>
                                    <li>Memory :
                                        <span>128 Gb</span>
                                    </li>
                                    <li>Screen Size :
                                        <span>12.8 Inch</span>
                                    </li>
                                    <li>Ram :
                                        <span>8 Gb</span>
                                    </li>
                                    <li>Warrent :
                                        <span>1 Year</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="../images/laptop.png" class="img-responsive" alt="">

                    </div>
                    <div class="col-md-3">
                        <div class="invoice clearfix">
                            <a href="#">Invoice</a>
                            <a href="#" class="pull-right">Order Details</a>
                        </div>
                        <button class="btn btn-primary btn-block">Write a Review</button>
                        <button class="btn btn-primary btn-block">Frequently Asked Question</button>
                        <button class="btn btn-primary btn-block">Return Item</button>
                        <button class="btn btn-primary btn-block">Cancel Order</button>
                    </div>
                </div>
            </div>
            <div class="myorder-info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="myorder-spec">
                            <div class="order-id">
                                <p>Order Id :
                                    <span>99-222-399393-82883</span>
                                </p>
                            </div>
                            <div class="delivery-info">
                                <ul>
                                    <li>Order Placed On :
                                        <span>02-02-2018</span>
                                    </li>
                                    <li>Delivered On :
                                        <span>04-02-2018</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Apple Mac Book Pro</p>
                            <div class="myorder-desc">
                                <ul>
                                    <li>Memory :
                                        <span>128 Gb</span>
                                    </li>
                                    <li>Screen Size :
                                        <span>12.8 Inch</span>
                                    </li>
                                    <li>Ram :
                                        <span>8 Gb</span>
                                    </li>
                                    <li>Warrent :
                                        <span>1 Year</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="../images/laptop.png" class="img-responsive" alt="">

                    </div>
                    <div class="col-md-3">
                        <div class="invoice clearfix">
                            <a href="#">Invoice</a>
                            <a href="#" class="pull-right">Order Details</a>
                        </div>
                        <button class="btn btn-primary btn-block">Write a Review</button>
                        <button class="btn btn-primary btn-block">Frequently Asked Question</button>
                        <button class="btn btn-primary btn-block">Return Item</button>
                        <button class="btn btn-primary btn-block">Cancel Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>