<div id="wishlist">
    <div class="container-fluid">
        <div class="product-list">
            <h3>Your List</h3>
            <div class="fav-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="rating">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                        </div>

                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="item-added">
                            <p>Item Added On :
                                <span>Februry 2, 2018</span>
                            </p>
                            <button class="btn btn-primary btn-block">Add to Cart</button>
                            <a href="#">Remove Item</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fav-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="rating">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                        </div>

                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="item-added">
                            <p>Item Added On :
                                <span>Februry 2, 2018</span>
                            </p>
                            <button class="btn btn-primary btn-block">Add to Cart</button>
                            <a href="#">Remove Item</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fav-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="rating">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                        </div>

                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="item-added">
                            <p>Item Added On :
                                <span>Februry 2, 2018</span>
                            </p>
                            <button class="btn btn-primary btn-block">Add to Cart</button>
                            <a href="#">Remove Item</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fav-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="rating">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                        </div>

                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="item-added">
                            <p>Item Added On :
                                <span>Februry 2, 2018</span>
                            </p>
                            <button class="btn btn-primary btn-block">Add to Cart</button>
                            <a href="#">Remove Item</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fav-product">
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-image">
                            <img src="../images/mobile.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-name">
                            <p>Redmi note 3 (32 Gb)</p>
                        </div>
                        <div class="rating">
                            <div class="stars">
                                <form action="">
                                    <input class="star star-5" id="star-5" type="radio" name="star" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" />
                                    <label class="star star-1" for="star-1"></label>
                                </form>
                            </div>
                        </div>

                        <div class="product-price">
                            <p>Rs : 10,200</p>
                        </div>
                        <div class="short-desc">
                            <ul>
                                <li>Size :
                                    <span>5.5 Inches</span>
                                </li>
                                <li>Color :
                                    <span>Black</span>
                                </li>
                                <li>Memory :
                                    <span>3Gb, 32Gb</span>
                                </li>
                                <li>Battery :
                                    <span>4000 Mah</span>
                                </li>
                            </ul>
                        </div>
                        <div class="in-stock">
                            <P>In Stock :
                                <span>2 piece</span>
                            </P>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="item-added">
                            <p>Item Added On :
                                <span>Februry 2, 2018</span>
                            </p>
                            <button class="btn btn-primary btn-block">Add to Cart</button>
                            <a href="#">Remove Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>